<%- include('./header.ejs') %>


<h1>娱乐新闻</h1>
<h2><%= name %></h2>
<hr>
<ul>
<%
    for (var i=0; i<actions.length; i++){
        var tempItem = actions[i];
%>
        <li>  <%= tempItem %>  </li>
<%
    }
 %>
</ul>



<%- include('./footer.ejs') %>